<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.baemin.api.domain.shop.repository.ShopMapper">
    <select id="getShopList" parameterType="SearchRequestDTO" resultType="ShopDTO">
        <bind name="offset"
              value="(searchPage - 1) * pageSize"/>

        SELECT
        *
        FROM tb_shop
        where
        1=1
        <if test="searchText != null and searchText != ''">
            and shop_name LIKE CONCAT('%', #{searchText}, '%')
        </if>
        and close_yn = 0
        ORDER BY shop_seq DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getShopListCount" parameterType="SearchRequestDTO" resultType="int">
        SELECT
        count(*)
        FROM tb_shop
        where
        1=1
        <if test="searchText != null and searchText != ''">
            and shop_name LIKE CONCAT('%', #{searchText}, '%')
        </if>
        and close_yn = 0
    </select>

    <select id="getShopDetail" parameterType="int" resultType="ShopEntity">
        SELECT
        *
        FROM tb_shop
        where
        shop_seq=#{shopSeq}
    </select>

    <select id="getShopStarRate" parameterType="int" resultType="float">
        SELECT
        AVG(REVIEW_RATE)
        FROM tb_shop
        where
        shop_seq=#{shopSeq}
    </select>

    <insert id="insertShopData" parameterType="ShopInsertDTO">
        INSERT INTO tb_shop(OWNER_SEQ, SHOP_NAME, SHOP_ADR1,SHOP_ADR2, SHOP_NUM,CLOSE_YN, CREATE_DATE, CREATE_NAME)
        VALUES(#{ownerSeq},#{shopName},#{shopAddress1},#{shopAddress2},#{shopNum},#{closeYN},now(), #{createUser})
    </insert>

    <update id="updateShopData" parameterType="ShopUpdateDTO">
        UPDATE TB_SHOP SET
        UPDATE_DATE=NOW()

        <if test="createUser != null and createUser != ''">
        ,UPDATE_NAME= #{createUser}
        </if>

        <if test="ownerSeq != null and ownerSeq != ''">
            ,OWNER_SEQ=#{ownerSeq}
        </if>
        <if test="shopName != null and shopName != ''">
            ,SHOP_NAME=#{shopName}
        </if>
        <if test="shopAddress1 != null and shopAddress1 != ''">
            ,SHOP_ADR1=#{shopAddress1}
        </if>
        <if test="shopAddress2 != null and shopAddress2 != ''">
            ,SHOP_ADR2=#{shopAddress2}
        </if>
        <if test="shopNum != null and shopNum != ''">
            ,SHOP_NUM=#{shopNum}
        </if>
        <if test="closeYN != null and closeYN != ''">
            ,CLOSE_YN=#{closeYN}
        </if>
        where
        SHOP_SEQ=#{shopSeq}

    </update>

    <delete id="deleteShopData" parameterType="Integer">
    delete from tb_shop
        where SHOP_SEQ=#{id}

    </delete>

</mapper>